.button-red {
  width: 220px;
  height: 40px;
  background-color: #ab1111;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #ab1111;
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 15px;
  font-weight: 300;
}
.button-red:hover {
  background-color: #c71414;
}

.button-red:focus {
  outline: none;
}

/* .button-red :after {
  animation: 0s !important;
} */
