.input-field-without {
  width: 220px;
  height: 40px;
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-color: #707070;
  border-radius: 10px;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 15px;
}

.input-field-without:focus {
  box-shadow: none !important;
  border-color: #ab1111 !important;
}

.input-field-without:hover {
  border-color: #ab1111 !important;
}
